name: Dev Container Templates CI

on:
  push:
  pull_request:

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Validate templates
        uses: dev-containers/action@v1
        with:
          validate-only: true
